.parts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: aqua;
    gap: 1px;
}
.table{
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 столбца одинаковой ширины */
  grid-gap: 0px; /* Отступы между ячейками */
 
}
.grid-item{
     border: 1px solid #d11111;
     text-align: justify;
}